apiVersion: v1
kind: Service
metadata:
  name: agentsmith-dispatcher
  namespace: agentsmith
spec:
  type: NodePort
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
      protocol: TCP
